body{
  background-image: url("https://previews.123rf.com/images/afanasia/afanasia1703/afanasia170300042/74625741-seamless-watermelon-pattern-vector-summer-background-with-watercolor-watermelon-slices-.jpg");
  z-index: 0;
}
#d h1{
  background-color: #ea5169;
  text-align: center;
  margin-top: 0;
}

img{
  border: solid black 4px;
}

footer{
  position: absolute;
  width: 100%;
  background-color: #ea5169;
  bottom:0;
  text-align: center;
}
